@use "../../../styles/breakpoints";
@use "../../../styles/variables";
@use "../../../styles/grid";

.cart-section {
  margin: variables.$base-section-margin;
  width: 95%;
  height: 100%;
  flex-grow: 1;

  .heading {
    width: 100%;
    padding: variables.$base-padding;
    margin: variables.$base-margin;

    h1 {
      font-weight: 500;
      font-size: variables.$font-size-xl;
      color: map-get(variables.$light-theme-colors, "heading-color");
    }
  }

  .content {
    width: 95%;
    height: 100%;
    // margin: variables.$base-margin;
    margin: 0 auto;
    padding: variables.$base-padding;

    flex-grow: 1;

    .message {
      padding: variables.$base-padding;
      margin: variables.$base-margin;

      p {
        font-size: variables.$font-size-lg;
        letter-spacing: 1px;
        color: map-get(variables.$light-theme-colors, "font-color");
      }
    }

    .actions {
      padding: variables.$base-padding;
      margin: variables.$base-margin;
      display: flex;
      gap: 1.5rem;

      a {
        text-align: center;
        @include grid.base-flex-container;
        padding: 0.5rem 1rem;
        width: 38vh;
        outline: none;
        border: none;
        cursor: pointer;
        font-size: variables.$base-font-size;
        text-transform: capitalize;
        border-radius: 5px;
        color: map-get(variables.$light-theme-colors, "bg-color");
        font-weight: 500;
        font-family: variables.$primary-font;
        transition: 0.3s;
      }

      a:nth-child(1) {
        background-color: #3e6ae1;
      }

      a:nth-child(1):hover {
        background-color: #3457b1;
      }

      a:nth-child(2) {
        background-color: map-get(variables.$light-theme-colors, "bg-color");
        border: 3px solid #000;
        color: map-get(variables.$light-theme-colors, "font-color");
      }

      a:nth-child(2):hover {
        background-color: map-get(
          variables.$light-theme-colors,
          "heading-color"
        );
        color: map-get(variables.$light-theme-colors, "bg-color");
      }
    }
  }
}

@include breakpoints.md {
  .cart-section {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .heading {
      h1 {
        font-size: variables.$font-size-xl;
      }
    }
    .content {
      @include grid.base-flex-container;
      flex-direction: column;

      .message {
        text-align: center;
      }
      .actions {
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        a {
          width: 100%;
          padding: 0.75rem 1rem;
        }
      }
    }
  }
}

@include breakpoints.sm {
  .cart-section {
    width: 100%;

    .content {
      width: 100%;
    }
  }
}
