@use "../../styles/breakpoints";

.category-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  width: 92.5%;
  margin: 5rem auto 0 auto;
  gap: 3rem;

  .category-header {
    h1 {
      text-transform: capitalize;
      font-weight: 400;
    }
  }

  .subCategory-header {
    h1 {
      text-transform: capitalize;
      font-weight: 400;
    }
  }

  .charging-content,
  .apparel-content,
  .lifestyle-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 2rem;

    .tags-header {
      h3 {
        text-transform: capitalize;
        font-weight: 400;
      }
    }

    .tags-content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      // grid-auto-rows: minmax(100px, auto);
      gap: 3rem;
      margin-bottom: 1rem;
    }
  }
}

@include breakpoints.xl {
  .category-page {
    .charging-content,
    .apparel-content,
    .lifestyle-content {
      .tags-content {
        gap: 2.5rem;
      }
    }
  }
}

@include breakpoints.lg {
  .category-page {
    .charging-content,
    .apparel-content,
    .lifestyle-content {
      .tags-content {
        gap: 2rem;
      }
    }
  }
}

@include breakpoints.md {
  .category-page {
    gap: 3rem;
    .charging-content,
    .apparel-content,
    .lifestyle-content {
      gap: 1.75rem;
      .tags-content {
        gap: 1.5rem;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .category-page {
    width: 90%;
    gap: 2.5rem;
    .charging-content,
    .apparel-content,
    .lifestyle-content {
      gap: 1.5rem;
      .tags-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
      }
    }
  }
}

@include breakpoints.sm {
  .category-page {
    gap: 2rem;
    .charging-content,
    .apparel-content,
    .lifestyle-content {
      gap: 1rem;
      .tags-content {
        gap: 1rem;
      }
    }
  }
}
