@use "../../../styles/breakpoints";
@use "../../../styles/variables";
@use "../../../styles/grid";

//   border: 1px solid red;

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 7%;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: map-get(variables.$light-theme-colors, "secondary-color");
  height: 6px;
  width: 6px;
  margin: 0 6px;
}

.swiper-slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    outline: none;
  }

  .slide-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: variables.$base-margin;
    position: absolute;
    bottom: 15%;
    color: #fff;
    @include grid.base-flex-container;

    h1,
    a {
      text-transform: capitalize;
    }

    h1 {
      font-size: variables.$font-size-xxxl;
      font-weight: 500;
    }

    h3 {
      font-size: variables.$font-size-xl;
      font-weight: 500;
    }

    h3::first-letter {
      text-transform: capitalize;
    }

    a {
      outline: none;
      border: none;
      cursor: pointer;
      background-color: map-get(variables.$light-theme-colors, "bg-color");
      width: 35vh;
      padding: variables.$base-padding;
      border-radius: 5px;
    }
  }
}

@include breakpoints.md {
  img {
    object-position: 70% 75%;
  }
}

@include breakpoints.sm {
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 5%;
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 5px;
  }

  .swiper-slide {
    .slide-content {
      width: 100%;
      bottom: 9%;

      h1 {
        font-size: variables.$font-size-xl;
        margin: 0 0.75rem;
      }

      h3 {
        font-size: variables.$base-font-size;
        margin: 0 0.75rem;
      }

      a {
        margin-top: 1.2rem;
        width: 90%;
      }
    }
  }
}
